{% extends 'base.html' %} 

{% block title %} Home {% endblock %}

{% block content %}

<!--Start Forgot Password Section-->
<section class="forgot-password sign-in img-wrap separator">
	<div class="container max-width-1225">
		<div class="block">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="sign-in-image">
						<img src="{{ url_for('static', filename='assets/images/forgot-pass.png') }}" alt="Forgot Password" />
					</div>
				</div>
				<div class="col-md-6">
					<h2>Forgot <span>Password</span></h2>
					<form  action="/forget_password" method="post">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label>Email</label>
								<div class="input-group">
									<input type="email" onkeypress="forgetpassword();"  class="form-control" name="email" id="email" placeholder="email address" />
									<div class="input-group-append">
										<span class="input-group-text"><img src="{{ url_for('static', filename='assets/images/icons/email.png') }}" alt=""></span>
									</div>
								</div><span id="emailStatus"></span><span id="emailvalidStatus"></span>
								
							</div>	
							<span id="emailValue"></span> 						
							<span id="emailValue" class="fieldError">{{error}}</span>					
							<span id="emailValue" class="formSuccess">{{message}}</span> 						
						</div>
						
						<div class="btn-wrap">
							<a class="btn btn-default" href="sign-in"><i class="fa fa-chevron-left"></i> Back</a>
							<button type='submit' id="forgetpasswordform" class="btn btn-default">Reset Password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Forgot Password Section-->

<
	{% endblock %}
	